<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
<stringAttribute key="BRName" value="IB9NODE"/>
<stringAttribute key="ConnectionInfo" value=""/>
<stringAttribute key="EGName" value="exgrp_gapsi_demos"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="Juan-David-PC"/>
<stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="64999"/>
</launchConfiguration>